.container
{
    height: fit-content;
    text-align: center;
}

.container h2
{
    margin: 30px 0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.input-field
{
    box-sizing: border-box;
    background-color: transparent;
    width:40%;
    height: 40px;
    padding:24px;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    border-radius:6px;
    margin: 15px 0px ;
}
.input-field::placeholder
{
    color:white;
    font-size: 15px;
}
.btn
{
    width: 300px;
    padding:8px 60px;
    font-size: 15px;
    margin:40px 40px 20px;
    color: white;
    background-color: black;
}
.btn:hover{
    background-color: rgb(81, 80, 80);
    color: wheat;
    
}